
.vs/apexglow/v16/.suo
.vs/apexglow/v16/Browse.VC.db
*.db-wal
*.db-shm
*.opendb
*.ipch
packages.config
packages/Detours.4.0.1/.signature.p7s
packages/Detours.4.0.1/build/native/Detours.targets
packages/Detours.4.0.1/Detours.4.0.1.nupkg
packages/Detours.4.0.1/lib/native/include/detours.h
packages/Detours.4.0.1/lib/native/include/detver.h
packages/Detours.4.0.1/lib/native/include/syelog.h
packages/Detours.4.0.1/lib/native/libs/x64/detours.lib
packages/Detours.4.0.1/lib/native/libs/x64/detours.pdb
packages/Detours.4.0.1/lib/native/libs/x64/syelog.lib
packages/Detours.4.0.1/lib/native/libs/x86/detours.lib
packages/Detours.4.0.1/lib/native/libs/x86/detours.pdb
packages/Detours.4.0.1/lib/native/libs/x86/syelog.lib
x64/Release/apex.obj
x64/Release/apexglow.dll
x64/Release/apexglow.dll.recipe
x64/Release/apexglow.iobj
x64/Release/apexglow.ipdb
x64/Release/apexglow.log
x64/Release/apexglow.pdb
x64/Release/apexglow.tlog/apexglow.lastbuildstate
x64/Release/apexglow.tlog/apexglow.write.1u.tlog
x64/Release/apexglow.tlog/CL.command.1.tlog
x64/Release/apexglow.tlog/CL.read.1.tlog
x64/Release/apexglow.tlog/CL.write.1.tlog
x64/Release/apexglow.tlog/link.command.1.tlog
x64/Release/apexglow.tlog/link.read.1.tlog
x64/Release/apexglow.tlog/link.write.1.tlog
x64/Release/apexglow.vcxproj.FileListAbsolute.txt
x64/Release/dllmain.obj
x64/Release/dx11.obj
x64/Release/vc142.pdb
apexglow.vcxproj.user
apexglow.vcxproj.filters
apexglow.vcxproj
